@import "../global.less";
@import "../components/flags.less";
@import "../components/heading.less";
@import "../components/icons.less";
@import "content/core.less";

@import "components/client-settings.less";
@import "components/lobby.less";
@import "components/message-ticker.less";
@import "components/messages.less";
@import "components/room-actions.less";
@import "components/room.less";
@import "components/splash.less";
@import "components/tabs.less";
@import "components/users.less";

@import "content/code.less";
@import "content/embedly.less";
@import "content/gravatar.less";
@import "content/twitter.less";

.home #page {
    min-width: 300px;
    min-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home #heading {
    background-color: transparent;
}

.home-admin #tabs {
    /* wider for additional admin buttons */
    margin-right: 90px;
}

#send-message {
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 10px;
    right: 235px;

    margin: 0;
}

#message-box {
    position: absolute;
    left: 0;
    right: 90px;
    padding: 0;
    margin: 0;
}

#new-message {
    font-size: 13px;
    border: 1px solid #ccc;
    width: 100%;
    height: 20px;
    resize: none;
    overflow: auto;
}

#new-message.editing {
    background-color: lightgoldenrodyellow;
}

#send {
    padding: 4px;
    position: absolute;
    right: 0;
    width: 70px;
    height: 30px;
    bottom: 10px;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: black;
}

#background-tint {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(255, 255, 255, 0.498);
}

    #background-tint.connected {
        background: rgba(76, 243, 255, 0.498);
    }

    #background-tint.reconnecting {
        background: rgba(255, 255, 76, 0.498);
    }

    #background-tint.disconnected {
        background: rgba(255, 76, 76, 0.498);
    }

#chat-area {
    position: absolute;
    top: 35px;
    bottom: 50px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #00103f;
}

@media (max-width:900px) {
    #send-message {
        right: 200px;
    }
}

@media (max-width:700px) {
    .home #heading h1.full {
        display: none;
    }

    .home #heading h1.icon {
        display: block;
    }

    .home-admin #tabs {
        /* wider for additional admin buttons */
        margin-right: 85px;
    }

    #send-message {
        left: 5px;
        right: 5px;
    }
}

@media screen and (max-height:400px) {
    .home #heading {
        height: 32px;
        padding-top: 0;

        h1 {
            margin-top: -6px;
        }
    }

    #chat-area {
        top: 32px;
        bottom: 40px;
    }

    .messages,
    .users {
        top: 32px;
    }
}