@import "_lib/elements.less";

@import "components/elements.less";

body {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-weight: 400;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #000;
}

input, button, select, textarea {
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    margin: 10px 0;
}


h1, h2, h3 {
    font-weight: 100;
}

b, strong {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-weight: 700;
}

.tab-content {
    padding-top: 5px;
}

#page {
    position: relative;
}

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav > .active > a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid, .tabs-left > .nav-tabs > li > a {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
}

.res-switch .small {
    display: none;
}

@media screen and (max-width:480px) {
    .res-switch i.small {
        display: inline;
    }

    .res-switch .large {
        display: none;
    }
}