@using JabbR;
@using JabbR.ViewModels;
@using System.Linq;
@using SquishIt.Framework

@{
    Layout = "views/mobile/_layout.cshtml";
}

@section Head {
    <link href="@Url.Content("~/Content/themes/mobile_default/account.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () { setTimeout(scrollTo, 200, 0, 1) });
    </script>
}

<div class="content">
    @Html.AlertMessages()
    @RenderBody()
</div>