.dropdown-menu li > a:hover {
    background-color: #00103f;
    background-color: rgba(0, 16, 63, 1);
    background-image: none;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
}

#info-container {
    position: absolute;
    bottom: 5px;
    right: 10px;

    width: 220px;
    height: 40px;

    color: white;
}
    #clock {
        position: absolute;
        right: 3px;

        text-align: right;
    }

        #clock .time {
            font-size: 16px;
        }

        #clock .date {
            font-size: 10px;
        }

#info-container ul {
    position: absolute;
    bottom: 2px;
    left: 3px;

    margin: 0;

    list-style-type: none;

    font-size: 13px;

    color: rgba(255, 255, 255, 0.8);
}

    #info-container ul li i {
        padding: 0 2px;
    }

    #info-container ul li:hover {
        color: white;
    }

    #message-total {
        -webkit-touch-callout: none;

        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        cursor: default;
    }

.highlight {
    background-color: #fff6bd;
}

.list-header {
    padding: 3px 5px;
    color: #c5c5c5;
    border-bottom: 1px solid #eee;
}

.list-item {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #f1f1f1;
}


.list-header .content {
    font-size: 0.9em;
}

.list-item .right {
    /* hide time for list items */
    display: none;
}

/* CLEAR FIX */
.clearfix:after {
    clear: both;
    display: block;
    content: " ";
    height: 0px;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hide these rules from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

li.clearfix {
    display: list-item;
}

#releaseArea {
    padding: 10px 0;
    font-size: smaller;
    margin: 0;
}

    #releaseArea a {
        color: #1C94C4;
        text-decoration: none;
    }

        #releaseArea a:hover {
            color: #1C94C4;
            text-decoration: underline;
        }

.hide {
    display: none;
}

.word-breakable {
    word-break: break-all;
}

.form-horizontal input + .help-block {
    margin-top: 5px;
}

pre {
    color: #000000;
    display: block;
    padding: 0;
    font-size: 13px;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn {
    background-color: white;
}

.btn:hover {
    background-color: #F2F2F2;
}

.btn-small .caret {
    margin-top: 8px;
}

.btn-primary {
    background-color: #00103f;
}

.form-horizontal .label-align-left {
    text-align: left;
}

.git-hub-issue .starting-comment .author {
    margin-bottom: 0;
    padding-bottom: 0;
}

.git-hub-issue .starting-comment h2,
.tweet h1, .tweet h2, .tweet h3, .tweet h4 {
    font-size: 13px;
    margin: 0;
    line-height: 13px;
}

.icon-white {
    color: white;
}

.navbar-inner {
    min-height: 37px;
    padding: 0;
    background: #fff;
    box-shadow: none;
    border-bottom-width: 0;
    margin: 0 7px 0 0;
}

.navbar .nav {
    margin: 0;
}

    .navbar .nav > li {
        margin: 0;
        border-left: 1px solid #e5e5e5;
    }

        .navbar .nav > li:first-child {
            border-left-width: 0;
        }

        .navbar .nav > li > a {
            text-shadow: none;
            color: #404040;
            padding: 8px 12px;
        }

            .navbar .nav > li > a:hover {
                background: #F2F2F2;
            }

@media (max-width:900px) {
    #info-container {
        width: 185px;
    }
}

@media (max-width:700px) {
    #info-container {
        display: none;
    }
}

@media screen and (max-height:400px) {
    .navbar .nav > li > a {
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .navbar-inner {
        min-height: 32px;
    }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .close {
        line-height: 15px;
    }
}