@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SettingsViewModel>

@using JabbR;
@using JabbR.ViewModels;
@using System.Linq;
@using SquishIt.Framework

@{
    Layout = "views/mobile/_layout.cshtml";
}

@section Head {
    <link href="@Url.Content("~/Content/snap.css")" rel="stylesheet" />
}

<div class="content">
    home/index
</div>

<script type="text/javascript">
    window.jabbr = {
        version: '@Model.Version',
        viewMode: 'mobile',
        debug: false,
    };

    window.languageResources = {
        @Html.Raw(Model.ClientLanguageResources)
    };

    @if (Model.DebugMode)
    {
        @: window.jabbr.debug = true;
    }
</script>

@if (Model.DebugMode)
{
    // Load un-optimized require.js module
    @: <script type="text/javascript" src="/App/require.js"></script>
    @: <script type="text/javascript" src="/App/mobile-jabbr.js"></script>
}
else
{
    // Load optimized require.js module
    @: <script type="text/javascript" src="/App/require.js"></script>
    @: <script type="text/javascript" src="/Build/mobile-jabbr.js"></script>
}