@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SettingsViewModel>

@using JabbR;
@using JabbR.ViewModels;
@using System.Linq;
@using SquishIt.Framework

@{
    Layout = "views/mobile/_layout.cshtml";
}

@section Head {
    <script id="drawer-room-template" type="text/x-jquery-tmpl">
        <li id="tabs-${id}" class="room-item list-item-single-line" data-name="${name}" data-closed="${closed}" data-trimmable="true" role="tab">
            <a>
                <i class="icon-lock lock hide"></i>
                <i class="icon-ban-circle readonly hide"></i>
                <span>${name}</span>
                <button class="close">&times;</button>
            </a>
        </li>
    </script>
}

@section Drawers {
    <div id="rooms-drawer" class="snap-drawer snap-drawer-left">
        <div>
            <ul class="list">
                <li id="tabs-lobby" class="room-item current lobby no-close list-item-single-line" data-name="Lobby" data-trimmable="false" role="tab">
                    <a accesskey="l">
                        <span>@LanguageResources.Client_Lobby</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="menu-drawer" class="snap-drawer snap-drawer-right">
        [Menu]
    </div>
}

<div class="content">
    home/index
</div>

<script type="text/javascript">
    window.jabbr = {
        version: '@Model.Version',
        viewMode: 'mobile',
        debug: false,
    };

    window.languageResources = {
        @Html.Raw(Model.ClientLanguageResources)
    };

    @if (Model.DebugMode)
    {
        @: window.jabbr.debug = true;
    }
</script>

@if (Model.DebugMode)
{
    // Load un-optimized require.js module
    @: <script type="text/javascript" src="/App/require.js"></script>
    @: <script type="text/javascript" src="/App/mobile-jabbr.js"></script>
}
else
{
    // Load optimized require.js module
    @: <script type="text/javascript" src="/App/require.js"></script>
    @: <script type="text/javascript" src="/Build/mobile-jabbr.js"></script>
}