#room-list {
    
}

    #room-list li {
        padding: 5px 10px;
    }

        #room-list li.current {
            background-color: #444;
        }

        #room-list li a {
            position: relative;
        }

        #room-list li .close {
            position: absolute;
            right: 0;

            margin: 8px 0;
        }

.userlist-header {
    color: #ccc;
    border-bottom:2px solid #595959;
    line-height:18px;
    
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    
    padding:5px 5px 3px;
    margin-top:5px;
}

#lobby-private,
#lobby-other {
    display: none;
}

    #lobby-wrapper .nav-header {
        margin: 5px 0 10px 0;
    }

    #lobby-wrapper .room.list-item-single-line {
        font-size: 16px;
        line-height: 40px;
    }

    #lobby-wrapper .room .topic {
        line-height: 14px;
    }

.message {
    list-style-type: none;
    position: relative;
    margin: 0px;

    border-left: 26px solid #444;
}

    .message.continue {
        border-bottom: 1px solid #444;
    }
    
    .message.my-message {
        border-color: #4D5C66;
        background: #444;
    }

    .message .left {
        float: left;
        width: 26px;

        margin-left: -26px;
        padding: 7px 5px;
    }

    .message .middle {
        margin-right: 95px;
        padding: 5px 10px;
        word-wrap: break-word;
    }

    .message .right {
        position: absolute;
        padding: 5px;
        top: 0px;
        right: 0px;
        width: 95px;
        font-size: 0.9em;
        text-align: right;
    }