.action-bar {
    background-color: #00103F;
    border-bottom: none;
    box-shadow: none;
}

    .action-bar .title {
        margin-left: 5px;
    }

.page {
    background-color: #444;
}

.snap-drawer {
    background-color: #222;
}

.app-icon {
    padding-left: 5px;
    padding-right: 5px;
}

    .app-icon img {
        width: 32px;
        height: 32px;
    }

#container .content {
    padding: 4px 8px;
}