.action-bar {
    background-color: #00103F;
    border-bottom: none;
    box-shadow: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .action-bar .title {
        margin-left: 5px;
    }

.page {
    background-color: #333;
}

.snap-drawer {
    background-color: #222;

    padding-top: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-icon {
    padding-left: 5px;
    padding-right: 5px;
}

    .app-icon img {
        width: 32px;
        height: 32px;
    }